#box-description
	float left
	width 100%
	height auto
	max-width 1110px
	h2
		color #82247F
		// margin 0	
		line-height 1
		text-transform uppercase
		// font-weight normal

	.box-info
		border 1px solid #cecece
		margin-bottom 21px
		overflow hidden
		h3
			margin 0
			padding 19px 20px
			color #000
			line-height 1
			text-transform uppercase
			font-weight normal
	.box-img
		position relative

	.box-content
		padding 0 42px 21px
		overflow hidden

	.table-data
		width 100%
		tr
			&:last-child
				td
					border-bottom none
		td
			height 36px
			line-height 1.1
			font-weight lighter
			border-bottom 1px solid #e6e6e6
			font-size 17px

		.title
			width 50%
			margin 0
			padding-left 24px
			color #404040
		.value
			width 50%
			margin 0
			color #757272

	/* AUX */
	.centerh
		text-align center
		*
			display inline-block
	.flex-center
		display flex
		align-items center
		justify-content center
	
	.centerh-abs
		position absolute
		left 50%
		transform translate(-50%,0)

	.col-img
		position relative
		height 148px
		display inline-block
		margin 0 10px 40px
	.screen
		.box-img
			margin-bottom 24px
			.display
				position absolute
				left 50%
				transform translate(-50%, 0)
				top 34%
				color #5c5c5c
				line-height 1
				font-size 24px
				font-weight 400

	.gamer, .graphic, .ports
		.text
			display flex
			align-items center
			justify-content flex-start
			padding 0
			max-height 110px
			height 100%
			p
				font-size 18px
				margin 0
				color #404040
				line-height 1.2
				span
					display block
					color #757272
		.images
			padding 0
		.img-gamer
			width 50%
			float left
			position relative
			span 
				top 20%
				font-size 19px
				font-weight 600
				line-height 1
			img
				width 99%
	.graphic
		.text
			// max-height 150px
			height 100%
			p
				span
					display block
					color #757272
		.images
			padding 0
		.img-gamer
			width 100%
			float none
			position relative
			text-align center
			span 
				top 30%
				font-weight 500
			img
				max-width 120px
				width 100%
				display inline-block
	.ports
		.text
			max-height 200px
			height 100%
		.images
			display flex
			justify-content space-around
			align-items baseline
		.col
			// width 100%
			display flex
			align-items center
			justify-content flex-end
			flex-direction column
			height 200px
		.number
			width 100%
			height 40px
			line-height 1.1
			text-align center
			// background-color #742775
			color #535353
			margin-top 5px
			// border-radius 50%
		.icon
			height 20px
			display flex
			align-items center
			justify-content center
	.table-ports
		width 100%
		tr
			&:last-child
				td
					border-bottom none
		td
			height 36px
			line-height 1
			font-weight lighter
			font-size 17px

		.title
			width 42px
			margin 0
			background-color #f5f5f5
			vertical-align middle
			text-align center
			img
				display inline-block
		.value
			color #404040
			width auto
			margin 0
			span 
				padding-left 20px
				width auto
				display inline-block
			em
				display inline-block
				font-style normal
				float right
				padding-right 10%
	.other
		.text
			padding 0 0 15px 0
		.images
			padding 0
		p
			color #404040
			font-size 17px
			padding-left 24px
			line-height 1.1

	.sizes
		.box-img
			padding-top 15px
			max-width 78%
			width 90%
			margin 0 auto
			float none
		.height
			max-width 87%
			width auto
			margin-bottom 45px
			position relative
			float left
			span
				position absolute
				background #fff
				width auto
				padding 0 5px
			&::before
				content ''
				height 1px
				background-color #8e508d
				width 100%
				position absolute
				bottom -15px
				left 0
			&::after
				content ''
				height 150%
				background-color #8e508d
				width 1px
				position absolute
				top -20%
				right -30px

		.width
			max-width 100%
			width auto
			margin-bottom 60px
			position relative
			float left
			span
				position absolute
				background #fff
				width auto
				padding 0 5px
			&::before
				content ''
				height 1px
				background-color #8e508d
				width 100%
				position absolute
				bottom -15px
				left 0

		.size0
			left 50%
			bottom -25px
			transform translate(-50%, 0)
		
		.size1
			left 100%
			top 50%
			transform translate(0, -50%)
			width 60px !important
			z-index 1
			line-height 1
		
		.size2
			left 50%
			bottom -25px
			transform translate(-50%, 0)

	.cpu
		.col-img
			position relative
			height 148px
			display inline-block
			margin 0 10px 40px
			span
				position absolute
		.chip
			left 50%
			bottom 25%
			transform translate(-50%,0)
			font-size 12px
			font-weight 600
			line-height 1
			color #fff
		.hz
			left 50%
			transform translate(-50%,0)
			bottom 0
			font-size 16px
			font-weight bold

	.storage
		.box-img
			display flex 
			align-items center
			justify-content center
			.col-img:last-child
				display flex
				align-items flex-end
				padding-bottom 8px
		.col-img
			position relative
			height 182px
			display inline-block
			margin 0 0 15px
		.size
			position absolute
			left 50%
			top 60%
			transform translate(-50%,-50%)
			font-size 20px
			font-weight bold
			z-index 99

	.energy
		.text 
			em
				font-size 24px
				font-style normal
				color #404040
				margin-left 10px
			p
				font-size 16px
				line-height 1.1
			p:last-child
				color #404040
				font-size 16px
				line-height 1.1
		.images
			padding 0
			img
				// margin-top value
	
@media screen and (max-width: 992px)
	#box-description
		.box-content
			padding 0 15px 15px
			clear left
		.box-info
			h3
				padding 15px
		.table-data
			.title
				padding-left 12px
				line-height 1.1
		
		.table-ports
			.value
				span
					padding-left 10px

		.graphic
			.text
				padding-right 5px
		.other
			p
				padding-left 12px
				margin 5px 0

		.energy
			.text 
				padding-left 0
				em
					display block
					margin 0
				p
					font-weight 400

@media screen and (max-width: 812px) and (orientation: landscape)
	#box-description
		.sizes
			.width 
				span
					font-size 2.3vh
			.height
				span
					font-size 2.3vh
			.size0, .size2
				bottom -22px
			.size1
				padding 2px 5px !important

@media screen and (max-width: 767px)
	#box-description
		.table-data
			td
				font-weight 400
				font-size 3.5vh
		.table-ports
			.value
				span
					font-weight 400
				em
					font-weight 400
		.gamer, .graphic, .ports
			.img-gamer
				span 
					top 25%
					font-size 14px
					font-weight 600
		.graphic
			.text
				height 20%
				p
					font-size 3.5vh
					font-weight 400
			.img-gamer
				span
					font-size 5vh
		.storage
			.col-img
				// text-align center
				height auto
			.size
				top 40%
				font-size 4.75vh
			.box-img
				.col-img
					&:last-child
						img
							width 85%
							margin 0 auto
		.other
			p
				font-weight 400


	
@media screen and (max-width: 480px)
	#box-description
		.box-content
			// padding 0 15px 15px
			width 100%
		.table-data
			td
				font-size 4vw
				font-weight 400
			.title
				padding-left 6px
				width 60%
			.value
				width 40%
		.text
			p
				font-size 4.5vw !important
				font-weight 400
		.screen
			.display
				font-size 6vw
			img
				width 95%
		.gamer, .graphic
			.text
				max-height max-content
				padding 0
				p 
					margin 5px 0 10px
		.graphic, .other
			p
				width 100%
				text-align center
			.text
				p
					margin-bottom 5px
			.images
				img
					display block
					margin 0 auto
		.cpu
			.col-img
				margin 0 8px 25px
		.storage
			.box-img
				.col-img
					&:last-child
						img
							width 85%
							margin 0 auto

			.col-img
				text-align center
				height auto
				margin-bottom 5px
				padding-bottom 0 !important
				
			.size
				top 45%
				font-size 4.5vw
								
		.sizes
			.box-img
				max-width 100%
				overflow hidden

			.width 
				width 100%
				margin-bottom 35px
				span
					font-size 2.75vw
			.height
				width 80%
				margin-bottom 35px
				span
					font-size 2.75vw
				&::after
					height 200%
					top -45%
			.size0, .size2
				bottom -22px
			.size1
				padding 2px 5px !important
		.other
			.text 
				padding 0
			.images
				margin-bottom 10px
		.table-other
			margin-top 10px
		.table-ports
			.value
				span
					font-weight 400
		.energy
			.text
				padding-left 0
				
		.gamer, .graphic, .ports
			.img-gamer
				span 
					top 27.5%
					font-size 7vw
					font-weight 600