#box-description {
  float: left;
  width: 100%;
  height: auto;
  max-width: 1110px;
/* AUX */
}
#box-description h2 {
  color: #82247f;
  line-height: 1;
  text-transform: uppercase;
}
#box-description .box-info {
  border: 1px solid #cecece;
  margin-bottom: 21px;
  overflow: hidden;
}
#box-description .box-info h3 {
  margin: 0;
  padding: 19px 20px;
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  font-weight: normal;
}
#box-description .box-img {
  position: relative;
}
#box-description .box-content {
  padding: 0 42px 21px;
  overflow: hidden;
}
#box-description .table-data {
  width: 100%;
}
#box-description .table-data tr:last-child td {
  border-bottom: none;
}
#box-description .table-data td {
  height: 36px;
  line-height: 1.1;
  font-weight: lighter;
  border-bottom: 1px solid #e6e6e6;
  font-size: 17px;
}
#box-description .table-data .title {
  width: 50%;
  margin: 0;
  padding-left: 24px;
  color: #404040;
}
#box-description .table-data .value {
  width: 50%;
  margin: 0;
  color: #757272;
}
#box-description .centerh {
  text-align: center;
}
#box-description .centerh * {
  display: inline-block;
}
#box-description .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#box-description .centerh-abs {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#box-description .col-img {
  position: relative;
  height: 148px;
  display: inline-block;
  margin: 0 10px 40px;
}
#box-description .screen .box-img {
  margin-bottom: 24px;
}
#box-description .screen .box-img .display {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 34%;
  color: #5c5c5c;
  line-height: 1;
  font-size: 24px;
  font-weight: 400;
}
#box-description .gamer .text,
#box-description .graphic .text,
#box-description .ports .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  max-height: 110px;
  height: 100%;
}
#box-description .gamer .text p,
#box-description .graphic .text p,
#box-description .ports .text p {
  font-size: 18px;
  margin: 0;
  color: #404040;
  line-height: 1.2;
}
#box-description .gamer .text p span,
#box-description .graphic .text p span,
#box-description .ports .text p span {
  display: block;
  color: #757272;
}
#box-description .gamer .images,
#box-description .graphic .images,
#box-description .ports .images {
  padding: 0;
}
#box-description .gamer .img-gamer,
#box-description .graphic .img-gamer,
#box-description .ports .img-gamer {
  width: 50%;
  float: left;
  position: relative;
}
#box-description .gamer .img-gamer span,
#box-description .graphic .img-gamer span,
#box-description .ports .img-gamer span {
  top: 20%;
  font-size: 19px;
  font-weight: 600;
  line-height: 1;
}
#box-description .gamer .img-gamer img,
#box-description .graphic .img-gamer img,
#box-description .ports .img-gamer img {
  width: 99%;
}
#box-description .graphic .text {
  height: 100%;
}
#box-description .graphic .text p span {
  display: block;
  color: #757272;
}
#box-description .graphic .images {
  padding: 0;
}
#box-description .graphic .img-gamer {
  width: 100%;
  float: none;
  position: relative;
  text-align: center;
}
#box-description .graphic .img-gamer span {
  top: 30%;
  font-weight: 500;
}
#box-description .graphic .img-gamer img {
  max-width: 120px;
  width: 100%;
  display: inline-block;
}
#box-description .ports .text {
  max-height: 200px;
  height: 100%;
}
#box-description .ports .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
#box-description .ports .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}
#box-description .ports .number {
  width: 100%;
  height: 40px;
  line-height: 1.1;
  text-align: center;
  color: #535353;
  margin-top: 5px;
}
#box-description .ports .icon {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#box-description .table-ports {
  width: 100%;
}
#box-description .table-ports tr:last-child td {
  border-bottom: none;
}
#box-description .table-ports td {
  height: 36px;
  line-height: 1;
  font-weight: lighter;
  font-size: 17px;
}
#box-description .table-ports .title {
  width: 42px;
  margin: 0;
  background-color: #f5f5f5;
  vertical-align: middle;
  text-align: center;
}
#box-description .table-ports .title img {
  display: inline-block;
}
#box-description .table-ports .value {
  color: #404040;
  width: auto;
  margin: 0;
}
#box-description .table-ports .value span {
  padding-left: 20px;
  width: auto;
  display: inline-block;
}
#box-description .table-ports .value em {
  display: inline-block;
  font-style: normal;
  float: right;
  padding-right: 10%;
}
#box-description .other .text {
  padding: 0 0 15px 0;
}
#box-description .other .images {
  padding: 0;
}
#box-description .other p {
  color: #404040;
  font-size: 17px;
  padding-left: 24px;
  line-height: 1.1;
}
#box-description .sizes .box-img {
  padding-top: 15px;
  max-width: 78%;
  width: 90%;
  margin: 0 auto;
  float: none;
}
#box-description .sizes .height {
  max-width: 87%;
  width: auto;
  margin-bottom: 45px;
  position: relative;
  float: left;
}
#box-description .sizes .height span {
  position: absolute;
  background: #fff;
  width: auto;
  padding: 0 5px;
}
#box-description .sizes .height::before {
  content: '';
  height: 1px;
  background-color: #8e508d;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
}
#box-description .sizes .height::after {
  content: '';
  height: 150%;
  background-color: #8e508d;
  width: 1px;
  position: absolute;
  top: -20%;
  right: -30px;
}
#box-description .sizes .width {
  max-width: 100%;
  width: auto;
  margin-bottom: 60px;
  position: relative;
  float: left;
}
#box-description .sizes .width span {
  position: absolute;
  background: #fff;
  width: auto;
  padding: 0 5px;
}
#box-description .sizes .width::before {
  content: '';
  height: 1px;
  background-color: #8e508d;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
}
#box-description .sizes .size0 {
  left: 50%;
  bottom: -25px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#box-description .sizes .size1 {
  left: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 60px !important;
  z-index: 1;
  line-height: 1;
}
#box-description .sizes .size2 {
  left: 50%;
  bottom: -25px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#box-description .cpu .col-img {
  position: relative;
  height: 148px;
  display: inline-block;
  margin: 0 10px 40px;
}
#box-description .cpu .col-img span {
  position: absolute;
}
#box-description .cpu .chip {
  left: 50%;
  bottom: 25%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
}
#box-description .cpu .hz {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
#box-description .storage .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#box-description .storage .box-img .col-img:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 8px;
}
#box-description .storage .col-img {
  position: relative;
  height: 182px;
  display: inline-block;
  margin: 0 0 15px;
}
#box-description .storage .size {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  z-index: 99;
}
#box-description .energy .text em {
  font-size: 24px;
  font-style: normal;
  color: #404040;
  margin-left: 10px;
}
#box-description .energy .text p {
  font-size: 16px;
  line-height: 1.1;
}
#box-description .energy .text p:last-child {
  color: #404040;
  font-size: 16px;
  line-height: 1.1;
}
#box-description .energy .images {
  padding: 0;
}
@media screen and (max-width: 992px) {
  #box-description .box-content {
    padding: 0 15px 15px;
    clear: left;
  }
  #box-description .box-info h3 {
    padding: 15px;
  }
  #box-description .table-data .title {
    padding-left: 12px;
    line-height: 1.1;
  }
  #box-description .table-ports .value span {
    padding-left: 10px;
  }
  #box-description .graphic .text {
    padding-right: 5px;
  }
  #box-description .other p {
    padding-left: 12px;
    margin: 5px 0;
  }
  #box-description .energy .text {
    padding-left: 0;
  }
  #box-description .energy .text em {
    display: block;
    margin: 0;
  }
  #box-description .energy .text p {
    font-weight: 400;
  }
}
@media screen and (max-width: 812px) and (orientation: landscape) {
  #box-description .sizes .width span {
    font-size: 2.3vh;
  }
  #box-description .sizes .height span {
    font-size: 2.3vh;
  }
  #box-description .sizes .size0,
  #box-description .sizes .size2 {
    bottom: -22px;
  }
  #box-description .sizes .size1 {
    padding: 2px 5px !important;
  }
}
@media screen and (max-width: 767px) {
  #box-description .table-data td {
    font-weight: 400;
    font-size: 3.5vh;
  }
  #box-description .table-ports .value span {
    font-weight: 400;
  }
  #box-description .table-ports .value em {
    font-weight: 400;
  }
  #box-description .gamer .img-gamer span,
  #box-description .graphic .img-gamer span,
  #box-description .ports .img-gamer span {
    top: 25%;
    font-size: 14px;
    font-weight: 600;
  }
  #box-description .graphic .text {
    height: 20%;
  }
  #box-description .graphic .text p {
    font-size: 3.5vh;
    font-weight: 400;
  }
  #box-description .graphic .img-gamer span {
    font-size: 5vh;
  }
  #box-description .storage .col-img {
    height: auto;
  }
  #box-description .storage .size {
    top: 40%;
    font-size: 4.75vh;
  }
  #box-description .storage .box-img .col-img:last-child img {
    width: 85%;
    margin: 0 auto;
  }
  #box-description .other p {
    font-weight: 400;
  }
}
@media screen and (max-width: 480px) {
  #box-description .box-content {
    width: 100%;
  }
  #box-description .table-data td {
    font-size: 4vw;
    font-weight: 400;
  }
  #box-description .table-data .title {
    padding-left: 6px;
    width: 60%;
  }
  #box-description .table-data .value {
    width: 40%;
  }
  #box-description .text p {
    font-size: 4.5vw !important;
    font-weight: 400;
  }
  #box-description .screen .display {
    font-size: 6vw;
  }
  #box-description .screen img {
    width: 95%;
  }
  #box-description .gamer .text,
  #box-description .graphic .text {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    padding: 0;
  }
  #box-description .gamer .text p,
  #box-description .graphic .text p {
    margin: 5px 0 10px;
  }
  #box-description .graphic p,
  #box-description .other p {
    width: 100%;
    text-align: center;
  }
  #box-description .graphic .text p,
  #box-description .other .text p {
    margin-bottom: 5px;
  }
  #box-description .graphic .images img,
  #box-description .other .images img {
    display: block;
    margin: 0 auto;
  }
  #box-description .cpu .col-img {
    margin: 0 8px 25px;
  }
  #box-description .storage .box-img .col-img:last-child img {
    width: 85%;
    margin: 0 auto;
  }
  #box-description .storage .col-img {
    text-align: center;
    height: auto;
    margin-bottom: 5px;
    padding-bottom: 0 !important;
  }
  #box-description .storage .size {
    top: 45%;
    font-size: 4.5vw;
  }
  #box-description .sizes .box-img {
    max-width: 100%;
    overflow: hidden;
  }
  #box-description .sizes .width {
    width: 100%;
    margin-bottom: 35px;
  }
  #box-description .sizes .width span {
    font-size: 2.75vw;
  }
  #box-description .sizes .height {
    width: 80%;
    margin-bottom: 35px;
  }
  #box-description .sizes .height span {
    font-size: 2.75vw;
  }
  #box-description .sizes .height::after {
    height: 200%;
    top: -45%;
  }
  #box-description .sizes .size0,
  #box-description .sizes .size2 {
    bottom: -22px;
  }
  #box-description .sizes .size1 {
    padding: 2px 5px !important;
  }
  #box-description .other .text {
    padding: 0;
  }
  #box-description .other .images {
    margin-bottom: 10px;
  }
  #box-description .table-other {
    margin-top: 10px;
  }
  #box-description .table-ports .value span {
    font-weight: 400;
  }
  #box-description .energy .text {
    padding-left: 0;
  }
  #box-description .gamer .img-gamer span,
  #box-description .graphic .img-gamer span,
  #box-description .ports .img-gamer span {
    top: 27.5%;
    font-size: 7vw;
    font-weight: 600;
  }
}
