extends ../../layout/Laptops/layout.pug

block contenido
	//- meta(charset="UTF-8")
	//- meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
	//- link(rel="stylesheet", href="../app_peru.css")
	//- var marca_gpu = #{fabricante_tarjeta_grafica}
	style
		include ../../css/Laptops/styles.css
	#box-description
		//- .container
		h2 Especificaciones
		.row
			.col-xs-12.col-sm-6
				.box-info.screen
					h3 Pantalla: #{tipo_pantalla}
					.box-img.centerh
						img(src="images/img-screen.png", alt="")
						span.display #{tamano_pantalla}
					.box-content
						table.table-data.tabla-screen
							tr
								td.title Tamaño de Pantalla:
								td.value #{tamano_pantalla}
							tr
								td.title Resolución:
								td.value #{resolucion}
							tr
								td.title Táctil:
								td.value
									if pantalla_tactil > 0
										span Sí
									else 
										span No
				.box-info.graphic
					h3 Gráficos
					.box-content
						.col-xs-12.col-sm-7.col-lg-8.text
							p Procesador Gráfico
								if fabricante_tarjeta_grafica
									span #{tarjeta_dedicada} <br> (Dedicado)
								else 
									span #{tarjeta_integrada} <br> (Integrado)
						.col-xs-12.col-sm-5.col-lg-4.images
							img(src="images/img-gpu-nvidia.png", alt="")
							//- .img-gamer
					if fabricante_tarjeta_grafica
						.box-content
							.col-xs-12.col-sm-7.col-lg-8.text
								p Memoria Gráfica 
									span #{memoria_grafica}
							.col-xs-12.col-sm-5.col-lg-4.images
								//- img(src="images/img-gpu-size.png", alt="")
								.img-gamer
									img(src="images/img-gpu-size.png", alt="")
									- var memo = memoria_grafica.replace(/GB/g, '');
									span.centerh-abs #{memo}
				.box-info.ports
					h3 Puertos
					.box-content
						//- .col-xs-12.col-sm-12.col-lg-5.text
							table.table-ports
								if hdmi > 0
									tr
										td.title
											img(src="images/icon-hdmi.png", alt="")
										td.value 
											span HDMI:
											em #{hdmi}
								if usb_3 > 0
									tr
										td.title
											img(src="images/icon-usb3.png", alt="")
										td.value 
											//- USB 3: #{usb_3}
											span USB 3:
											em #{usb_3}
								if usb_2 > 0
									tr
										td.title
											img(src="images/icon-usb2.png", alt="")
										td.value 
											//- USB 2: #{usb_2}
											span USB 2:
											em #{usb_2}
								if lan > 0
									tr
										td.title
											img(src="images/icon-lan.png", alt="")
										td.value 
											//- LAN: #{lan}
											span LAN:
											em #{lan}
								if lector_tarjetas > 0
									tr
										td.title
											img(src="images/icon-lan.png", alt="")
										td.value 
											//- Lector de <br> tarjetas #{lector_tarjetas}
											span Lector de <br> tarjetas:
											em #{lector_tarjetas}
								
						.col-xs-12.col-sm-12.images
							if hdmi > 0
								.col
									//- .quantity
									img(src="images/img-hdmi.png", alt="")
									.number HDMI <br>X #{hdmi}
									.icon
										img(src="images/icon-hdmi.png")
							if usb_3 > 0
								.col
									//- .quantity
									img(src="images/img-usb.png", alt="")
									.number USB 3.0 <br>X #{usb_3}
									.icon
										img(src="images/icon-usb2.png")
							if usb_2 > 0
								.col
									//- .quantity
									img(src="images/img-usb.png", alt="")
									.number USB 2.0 <br>X #{usb_2}
									.icon
										img(src="images/icon-usb3.png")
							if lan > 0
								.col
									//- .quantity
									img(src="images/img-lan.png", alt="")
									.number LAN <br>X #{lan}
									.icon
										img(src="images/icon-lan.png")
							if lector_tarjetas > 0
								.col
									//- .quantity
									img(src="images/img-sd.png", alt="")
									.number Lector de <br> Tarjetas 
									//- X #{lector_tarjetas}
									.icon
										img(src="images/icon-lector.png")
							
				.box-info
					h3 Otras funciones
					.box-content.other
						.col-xs-12.col-sm-6.text
							p Sistema Operativo
						.col-xs-12.col-sm-6.images
							- var win = sistema_operativo.search('Windows')
							- var mac = sistema_operativo.search('Mac')
							- var chr = sistema_operativo.search('Chrome')
							if win > -1
								img(src="images/img-windows.png", alt="")
							if mac > -1
								img(src="images/img-macos.png", alt="")
							if chr > -1
								img(src="images/img-chrome.png", alt="")
						table.table-data.table-other
							tr
								td.title Teclano numérico:
								td.value
									if teclado_numerico > 0
										span Sí
									else 
										span No
							tr
								td.title Unidad óptica:
								td.value 
									if unidad_optica > 0
										span Sí
									else 
										span No
			.col-xs-12.col-sm-6
				.box-info.sizes
					h3 Dimensiones
					.box-img.centerh
						.row-img.height
							img(src="images/size1.png", alt="")
							span.size2 (Costado) #{profundidad}
							span.size1 #{alto}
						.row-img.width
							img(src="images/size2.png", alt="")
							span.size0 (Frente) #{ancho}
					.box-content
						table.table-data.tabla-screen
							tr
								td.title Alto:
								td.value #{alto}
							tr
								td.title Profundidad:
								td.value #{profundidad}
							tr
								td.title Ancho:
								td.value #{ancho}
							tr
								td.title Peso:
								td.value #{peso}
				.box-info.cpu
					h3 Procesador
					.box-img.centerh
						.col-img
							img(src="images/img-cpu-intel.png", alt="")
							span.chip #{procesador}
						.col-img
							img(src="images/img-cpu-speed.png", alt="")
							span.hz #{velocidad_procesador}
					.box-content
						table.table-data.tabla-screen
							tr
								td.title Modelo:
								td.value #{procesador}
							tr
								td.title Velocidad:
								td.value #{velocidad_procesador}
							tr
								td.title Núcleos:
								td.value #{nucleos}

				.box-info.storage
					h3 Almacenamiento
					.box-img.centerh
						.col-img
							//- var img_disco = 
							img(src!="images/img-"+ disco_duro.toLowerCase() +".png", alt="")
						if rpm
							.col-img
								img(src="images/img-rpm.png", alt="")
								span.size #{rpm}
					.box-content
						table.table-data.tabla-screen
							tr
								td.title Disco Duro #{disco_duro}:
								td.value #{disco_capacidad}
							tr
								td.title Memoria RAM:
								td.value #{memoria_ram} - DDR4

				.box-info.energy
					h3 Alimentación
					.box-content
						.col-xs-9.col-sm-8.col-lg-10.text
							p Duración de la batería 
								- var numero = duracion_bateria.substr(0,1);
								- var tiempo = (numero>1) ? "Horas":"Hora";
								//- if duracion_bateria=="1h"
								//-  em 1 Hora
								em #{numero} #{tiempo} 
							p #{descripcion_bateria}
						.col-xs-3.col-sm-4.col-lg-2.images
							img(src="images/img-battery.png", alt="")
