#box-description {
  float: left;
  width: 100%;
  height: auto;
  max-width: 1110px;
/* AUX */
}
#box-description h2 {
  color: #82247f;
  line-height: 1;
  text-transform: uppercase;
}
#box-description .box-info {
  border: 1px solid #cecece;
  margin-bottom: 21px;
  overflow: hidden;
}
#box-description .box-info h3 {
  margin: 0;
  padding: 19px 20px;
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  font-weight: normal;
}
#box-description .box-img {
  position: relative;
  overflow: hidden;
}
#box-description .box-content {
  padding: 0 42px 21px;
  overflow: hidden;
  width: 100%;
}
#box-description .table-data {
  width: 100%;
}
#box-description .table-data tr:last-child td {
  border-bottom: none;
}
#box-description .table-data td {
  height: 36px;
  line-height: 1.1;
  font-weight: lighter;
  border-bottom: 1px solid #e6e6e6;
  font-size: 17px;
}
#box-description .table-data .title {
  width: 50%;
  margin: 0;
  padding-left: 24px;
  color: #404040;
}
#box-description .table-data .value {
  width: 50%;
  margin: 0;
  color: #757272;
}
#box-description .centerh {
  text-align: center;
}
#box-description .centerh * {
  display: inline-block;
}
#box-description .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#box-description .centerh-abs {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#box-description .col-img {
  position: relative;
  height: 148px;
  display: inline-block;
  margin: 0 10px 40px;
}
#box-description .screen .box-img {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#box-description .screen .display {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 39%;
  color: #5c5c5c;
  line-height: 1;
  font-size: 24px;
  font-weight: 400;
}
#box-description .screen .definicion {
  position: absolute;
  right: -20px;
  bottom: 0px;
  background-color: #6f6f6f;
  color: #fff;
  width: 58px;
  height: 58px;
  line-height: 58px;
  border-radius: 50%;
  text-align: center;
  font-size: 85%;
}
#box-description .screen .col-img {
  margin: 0 4%;
  height: auto;
}
#box-description .gamer .text,
#box-description .graphic .text,
#box-description .ports .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  max-height: 110px;
  height: 100%;
}
#box-description .gamer .text p,
#box-description .graphic .text p,
#box-description .ports .text p {
  font-size: 18px;
  margin: 0;
  color: #404040;
  line-height: 1.2;
}
#box-description .gamer .text p span,
#box-description .graphic .text p span,
#box-description .ports .text p span {
  display: block;
  color: #757272;
}
#box-description .gamer .images,
#box-description .graphic .images,
#box-description .ports .images {
  padding: 0;
}
#box-description .gamer .img-gamer,
#box-description .graphic .img-gamer,
#box-description .ports .img-gamer {
  width: 50%;
  float: left;
  position: relative;
}
#box-description .gamer .img-gamer span,
#box-description .graphic .img-gamer span,
#box-description .ports .img-gamer span {
  top: 20%;
  font-size: 19px;
  font-weight: 600;
  line-height: 1;
}
#box-description .gamer .img-gamer img,
#box-description .graphic .img-gamer img,
#box-description .ports .img-gamer img {
  width: 99%;
}
#box-description .graphic .text {
  height: 100%;
}
#box-description .graphic .text p span {
  display: block;
  color: #757272;
}
#box-description .graphic .images {
  padding: 0;
}
#box-description .graphic .img-gamer {
  width: 100%;
  float: none;
  position: relative;
  text-align: center;
}
#box-description .graphic .img-gamer span {
  top: 30%;
  font-weight: 500;
}
#box-description .graphic .img-gamer img {
  max-width: 120px;
  width: 100%;
  display: inline-block;
}
#box-description .ports .text,
#box-description .general .text {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#box-description .ports .text .col,
#box-description .general .text .col {
  height: auto;
  padding-top: 20px;
}
#box-description .ports .images,
#box-description .general .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#box-description .ports .col,
#box-description .general .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}
#box-description .ports .number,
#box-description .general .number {
  width: 100%;
  height: 40px;
  line-height: 1.1;
  text-align: center;
  color: #535353;
  margin-top: 5px;
}
#box-description .ports .icon,
#box-description .general .icon {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#box-description .general .col {
  height: 220px;
  width: 25%;
}
#box-description .table-ports {
  width: 100%;
}
#box-description .table-ports tr:last-child td {
  border-bottom: none;
}
#box-description .table-ports td {
  height: 36px;
  line-height: 1;
  font-weight: lighter;
  font-size: 17px;
}
#box-description .table-ports .title {
  width: 42px;
  margin: 0;
  background-color: #f5f5f5;
  vertical-align: middle;
  text-align: center;
}
#box-description .table-ports .title img {
  display: inline-block;
}
#box-description .table-ports .value {
  color: #404040;
  width: auto;
  margin: 0;
}
#box-description .table-ports .value span {
  padding-left: 20px;
  width: auto;
  display: inline-block;
}
#box-description .table-ports .value em {
  display: inline-block;
  font-style: normal;
  float: right;
  padding-right: 10%;
}
#box-description .sound .text {
  padding: 0 0 15px 0;
}
#box-description .sound .images {
  padding: 0;
  position: relative;
}
#box-description .sound .images span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.1;
  text-align: center;
}
#box-description .sound p {
  color: #404040;
  font-size: 17px;
  padding-left: 24px;
}
#box-description .sizes .box-img {
  max-width: 95%;
  margin: 0 auto;
  float: none;
}
#box-description .sizes .height {
  max-width: 67.5%;
  width: 100%;
  margin-bottom: 45px;
  position: relative;
  float: left;
  text-align: right;
  position: relative;
}
#box-description .sizes .height img {
  max-width: 280px;
  padding-right: 10px;
}
#box-description .sizes .height span {
  position: absolute;
  background: #fff;
  width: auto;
  padding: 0 5px;
  line-height: 1;
  width: 40px;
  text-align: center;
}
#box-description .sizes .height::before {
  content: '';
  height: 1px;
  background-color: #8e508d;
  width: 100%;
  max-width: 280px;
  position: absolute;
  bottom: -26px;
  right: 10px;
}
#box-description .sizes .height::after {
  content: '';
  height: 100%;
  background-color: #8e508d;
  width: 1px;
  position: absolute;
  top: 0;
  left: 6%;
}
#box-description .sizes .width {
  max-width: 32.5%;
  width: 100%;
  margin-bottom: 45px;
  position: relative;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#box-description .sizes .width span {
  position: absolute;
  background: #fff;
  width: auto;
  padding: 0 5px;
  line-height: 1;
  text-align: center;
}
#box-description .sizes .width::before {
  content: '';
  height: 1px;
  background-color: #8e508d;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
  display: none;
}
#box-description .sizes .width .col {
  float: left;
}
#box-description .sizes .side {
  position: relative;
}
#box-description .sizes .side img {
  max-width: 45px;
}
#box-description .sizes .side span {
  background-color: #fff;
}
#box-description .sizes .side::before {
  content: '';
  height: 1px;
  background-color: #8e508d;
  width: 110%;
  position: absolute;
  bottom: -1.5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#box-description .sizes .wide {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#box-description .sizes .wide span {
  bottom: -5px;
  background-color: transparent;
  line-height: 0.85;
  position: relative;
  max-width: 45px;
  padding: 0 0 0 20px;
  text-align: center;
}
#box-description .sizes .wide span::before {
  content: '';
  height: 100%;
  background-color: #8e508d;
  width: 2px;
  position: absolute;
  bottom: 110%;
  left: 70%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#box-description .sizes .weight {
  max-width: 75px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}
#box-description .sizes .weight span {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 10%;
  background-color: transparent;
  color: #fff;
  line-height: 1;
  text-align: center;
}
#box-description .sizes .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 98px;
}
#box-description .sizes .size0 {
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 40px;
  padding: 0 2px !important;
}
#box-description .sizes .size1 {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 40px !important;
  z-index: 1;
  line-height: 1;
  text-align: center;
}
#box-description .sizes .size2 {
  left: 55%;
  bottom: -35px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#box-description .specials .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#box-description .specials .col-img {
  position: relative;
  height: 148px;
  display: inline-block;
  margin: 0 10px 40px;
}
#box-description .specials .col-img span {
  position: absolute;
}
#box-description .specials .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 60px 0 40px;
  margin: 0 11px;
}
#box-description .specials .number {
  max-width: 47px;
  width: 100%;
  height: 30px;
  line-height: 1.1;
  text-align: center;
  color: #535353;
  margin-top: 5px;
  font-size: 13px;
}
#box-description .warranty .images {
  text-align: center;
  padding: 0;
}
#box-description .warranty .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#box-description .warranty .box-img .col-img:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 8px;
}
#box-description .warranty .col-img {
  position: relative;
  height: 182px;
  display: inline-block;
  margin: 0 0 15px;
}
#box-description .warranty .size {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  z-index: 99;
}
#box-description .energy .text em {
  font-size: 24px;
  font-style: normal;
  color: #404040;
  margin-left: 10px;
}
#box-description .energy .text p {
  font-size: 16px;
  line-height: 1.1;
}
#box-description .energy .text p:last-child {
  color: #404040;
  font-size: 16px;
  line-height: 1.1;
}
#box-description .energy .images {
  padding: 0;
}
#box-description .line {
  height: 1px;
  clear: both;
  width: 100%;
  overflow: hidden;
  background-color: #e2e2e2;
}
#box-description .specials .value,
#box-description .warranty .value,
#box-description .sound .value {
  text-align: right;
}
@media screen and (max-width: 1024px) {
  #box-description .sizes .height {
    width: 100%;
    max-width: 80%;
    margin: 0 auto 55px;
    float: none;
  }
  #box-description .sizes .height img {
    max-width: 294px;
    width: 85%;
    padding-right: 0;
  }
  #box-description .sizes .height::before {
    max-width: 80%;
    bottom: -17.5px;
  }
  #box-description .sizes .width {
    width: auto;
    max-width: 50%;
    margin: 0 auto 45px;
    float: none;
  }
}
@media screen and (max-width: 992px) {
  #box-description .box-content {
    padding: 0 15px 15px;
    clear: left;
  }
  #box-description .box-info h3 {
    padding: 15px;
  }
  #box-description .table-data .title {
    padding-left: 12px;
    line-height: 1.1;
  }
  #box-description .table-ports .value span {
    padding-left: 10px;
  }
  #box-description .graphic .text {
    padding-right: 5px;
  }
  #box-description .sound p {
    padding-left: 12px;
    margin: 5px 0;
  }
  #box-description .energy .text {
    padding-left: 0;
  }
  #box-description .energy .text em {
    display: block;
    margin: 0;
  }
  #box-description .energy .text p {
    font-weight: 400;
  }
  #box-description .sizes .height {
    width: 100%;
    max-width: 90%;
    margin: 0 auto 55px;
    float: none;
  }
  #box-description .sizes .height img {
    max-width: 294px;
    width: 80%;
    padding-right: 0;
  }
  #box-description .sizes .height::before {
    max-width: 75%;
  }
  #box-description .sizes .width {
    width: auto;
    max-width: 60%;
    margin: 0 auto 45px;
    float: none;
  }
  #box-description .sizes .size2 {
    left: 60%;
  }
  #box-description .ports .images {
    display: block;
    text-align: center;
  }
  #box-description .ports .col {
    width: 33.33%;
    display: inline-block;
  }
}
@media screen and (max-width: 812px) and (orientation: landscape) {
  #box-description .sizes .width span {
    font-size: 4vh;
  }
  #box-description .sizes .height span {
    font-size: 4vh;
  }
  #box-description .sizes .size0 {
    bottom: -9%;
  }
  #box-description .sizes .size2 {
    bottom: -30px;
  }
  #box-description .sizes .size1 {
    padding: 2px 5px !important;
  }
  #box-description .sizes .wide span {
    bottom: -5px;
  }
  #box-description .sizes .wide span::before {
    bottom: 125%;
    left: 70%;
  }
}
@media screen and (max-width: 767px) {
  #box-description .table-data td {
    font-weight: 400;
    font-size: 3.5vh;
  }
  #box-description .table-ports .value span {
    font-weight: 400;
  }
  #box-description .table-ports .value em {
    font-weight: 400;
  }
  #box-description .gamer .img-gamer span,
  #box-description .graphic .img-gamer span,
  #box-description .ports .img-gamer span {
    top: 25%;
    font-size: 14px;
    font-weight: 600;
  }
  #box-description .graphic .text {
    height: 20%;
  }
  #box-description .graphic .text p {
    font-size: 3.5vh;
    font-weight: 400;
  }
  #box-description .graphic .img-gamer span {
    font-size: 5vh;
  }
  #box-description .ports .col {
    width: 49%;
  }
  #box-description .ports .number {
    height: 30px;
    font-size: 3.5vh;
  }
  #box-description .ports .text .col {
    padding: 0 10px;
    line-height: 1;
  }
  #box-description .specials .col {
    padding: 20px 0;
  }
  #box-description .warranty .col-img {
    height: auto;
  }
  #box-description .warranty .size {
    top: 40%;
    font-size: 4.75vh;
  }
  #box-description .warranty .box-img .col-img:last-child img {
    width: 85%;
    margin: 0 auto;
  }
  #box-description .sound p {
    font-weight: 400;
  }
  #box-description .sizes .height {
    width: 100%;
    max-width: 90%;
    margin: 0 auto 55px;
    float: none;
  }
  #box-description .sizes .height img {
    max-width: 294px;
    width: 80%;
    padding-right: 0;
  }
  #box-description .sizes .height::before {
    max-width: 75%;
  }
  #box-description .sizes .width {
    width: auto;
    max-width: 70%;
    margin: 0 auto 45px;
    float: none;
  }
  #box-description .sizes .size2 {
    left: 60%;
  }
  #box-description .general .col {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  #box-description .box-content {
    width: 100%;
  }
  #box-description .table-data td {
    font-size: 4vw;
    font-weight: 400;
  }
  #box-description .table-data .title {
    padding-left: 6px;
    width: 60%;
  }
  #box-description .table-data .value {
    width: 40%;
  }
  #box-description .text p {
    font-size: 4.5vw !important;
    font-weight: 400;
  }
  #box-description .screen .display {
    font-size: 6vw;
  }
  #box-description .screen img {
    width: 95%;
  }
  #box-description .gamer .text,
  #box-description .graphic .text {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    padding: 0;
  }
  #box-description .gamer .text p,
  #box-description .graphic .text p {
    margin: 5px 0 10px;
  }
  #box-description .graphic p,
  #box-description .sound p {
    width: 100%;
    text-align: center;
  }
  #box-description .graphic .text p,
  #box-description .sound .text p {
    margin-bottom: 5px;
  }
  #box-description .graphic .images img,
  #box-description .sound .images img {
    display: block;
    margin: 0 auto;
  }
  #box-description .specials {
    display: block;
    text-align: center;
  }
  #box-description .specials .col-img {
    margin: 0 8px 25px;
  }
  #box-description .specials .col {
    display: inline-block;
    width: 30%;
    padding: 15px 0;
  }
  #box-description .warranty .box-img .col-img:last-child img {
    width: 85%;
    margin: 0 auto;
  }
  #box-description .warranty .col-img {
    text-align: center;
    height: auto;
    margin-bottom: 5px;
    padding-bottom: 0 !important;
  }
  #box-description .warranty .size {
    top: 45%;
    font-size: 4.5vw;
  }
  #box-description .sizes .box-img {
    max-width: 100%;
    overflow: hidden;
  }
  #box-description .sizes .width {
    width: 100%;
    margin-bottom: 35px;
  }
  #box-description .sizes .width span {
    font-size: 3vw;
  }
  #box-description .sizes .height {
    width: 80%;
    margin-bottom: 50px;
  }
  #box-description .sizes .height span {
    font-size: 3vw;
  }
  #box-description .sizes .height::after {
    height: 100%;
    top: 0;
  }
  #box-description .sizes .size1 {
    padding: 2px 5px !important;
  }
  #box-description .sound .text {
    padding: 0;
  }
  #box-description .sound .images {
    margin-bottom: 10px;
  }
  #box-description .table-other {
    margin-top: 10px;
  }
  #box-description .table-ports .value span {
    font-weight: 400;
  }
  #box-description .energy .text {
    padding-left: 0;
  }
  #box-description .gamer .img-gamer span,
  #box-description .graphic .img-gamer span,
  #box-description .ports .img-gamer span {
    top: 27.5%;
    font-size: 7vw;
    font-weight: 600;
  }
  #box-description .ports .images {
    display: block;
    text-align: center;
  }
  #box-description .ports .col {
    width: 33.33%;
    display: inline-block;
  }
  #box-description .ports .text .col {
    padding: 0 20px;
  }
  #box-description .ports .number {
    font-size: 3.5vw;
  }
}
