extends ../../layout/TV/layout.pug

block contenido
	style
		include ../../css/TV/styles.css
	#box-description
		h2 Especificaciones
		.row
			.col-xs-12.col-sm-6
				.box-info.screen
					h3 Pantalla: #{tipo_pantalla}
					.box-img.centerh
						.col-img
							img(src="images/img-monitor-size.png", alt="")
							span.display #{tamano_pantalla}
							span.definicion #{nivel_definicion}
						.col-img
							img(src="images/img-monitor-side.png", alt="")

					.box-content
						table.table-data.tabla-screen
							tr
								td.title Tipo de TV:
								td.value #{tipo_tv}
							tr
								td.title Diseño de Pantalla:
								td.value #{diseno_pantalla}
							tr
								td.title Resolución:
								td.value #{resolucion}

				.box-info.ports
					h3 Puertos
					.box-content
						.col-xs-12.col-sm-12.images
							if hdmi > 0
								.col
									//- .quantity
									img(src="images/img-hdmi.png", alt="")
									.number HDMI: #{hdmi}
									//- .number HDMI <br>X #{hdmi}
									.icon
										img(src="images/icon-hdmi.png")
							if usb > 0
								.col
									//- .quantity
									img(src="images/img-usb.png", alt="")
									.number USB 3.0: #{usb}
									//- .number USB 3.0 <br>X #{usb}
									.icon
										img(src="images/icon-usb.png")
							if lan > 0
								.col
									//- .quantity
									img(src="images/img-lan.png", alt="")
									.number LAN.0: #{lan}
									//- .number LAN <br>X #{lan}
									.icon
										img(src="images/icon-lan.png")
							if salida_digital > 0
								.col
									//- .quantity
									img(src="images/img-audio-digital.png", alt="")
									.number Audio Optico <br> Digital
									//- .number Audio Optico <br> Digital <br>X #{salida_digital}
									.icon
										img(src="images/icon-audio-digital.png")
							if audio_video > 0
								.col
									//- .quantity
									img(src="images/img-av.png", alt="")
									.number Audio <br> / Video
									//- .number Audio <br> / Video <br>X #{audio_video}
									//- .icon
										img(src="images/icon-lector.png")
						.col-xs-12.col-sm-12.text 
							//- .col Wifi: #{wifi}
							if (wifi==1)
								.col Wifi: Sí
							else
								.col Wifi: No
							//- var nfc = (nfc==1) ? "Sí":"No"
							if (nfc==1)
								.col NFC: Sí
							else
								.col NFC: No
							//- var bluetooth = (bluetooth==1) ? "Sí":"No"
							if (bluetooth==1)
								.col Bluetooth: Sí
							else
								.col Bluetooth: No

				.box-info
					h3 Sonido
					.box-content.sound
						.col-xs-12.col-sm-5.images
							img(src="images/img-speakers.png", alt="")
							span #{parlantes} <br> Parlantes
						.col-xs-12.col-sm-7.text
							//- p Sistema Operativo
							table.table-data.tabla-screen
								tr
									td.title Potencia de Parlantes:
									td.value #{potencia_parlantes}
								tr
									td.title Modo Sonido:
									td.value #{modo_sonido}

			.col-xs-12.col-sm-6
				.box-info.sizes
					h3 Dimensiones
					.box-img.centerh
						.row-img.height
							img(src="images/img-monitor-front.png", alt="")
							span.size2 #{ancho}
							span.size1 #{alto}
						.row-img.width
							.col.side
								img(src="images/img-monitor-side.png", alt="")
								span.size0 #{profundidad}
							.col.column
								.wide
									img(src="images/img-monitor-wide.png")
									span #{ancho}
								.weight
									img(src="images/img-weight.png")
									span #{peso}
					.box-content
						table.table-data.tabla-screen
							tr
								td.title Alto sin base:
								td.value #{alto_base}
							//- tr
								td.title Profundidad:
								td.value (Costado) #{profundidad}
							//- tr
								td.title Ancho:
								td.value (Frente) #{ancho}
							tr
								td.title Peso:
								td.value #{peso}
				.box-info.specials
					h3 Funciones Especiales
					.box-img.centerh
						.col-xs-12.col-sm-12.images
							if smart_tv > 0
								.col
									img(src="images/icon-smart-tv.png", alt="")
									.number Smart TV
							if youtube > 0
								.col
									img(src="images/icon-youtube.png", alt="")
									.number Youtube
							if netflix > 0
								.col
									img(src="images/icon-netflix.png", alt="")
									.number Netflix
							if internet > 0
								.col
									img(src="images/icon-internet.png", alt="")
									.number Internet
							if control_voz > 0
								.col
									img(src="images/icon-control-voz.png", alt="")
									.number Control de Voz
							if juegos > 0
								.col
									img(src="images/icon-games.png", alt="")
									.number Juegos
					.box-content
						table.table-data.tabla-screen
							tr
								td.title Compatibilidad con teclado y mouse:
								td.value= (compatibilidad_teclado_mouse==1) ? "Sí":"No"
							tr
								td.title Control Parental:
								td.value= (compatibilidad_teclado_mouse==1) ? "Sí":"No"
							tr
								td.title Sistema Operativo:
								td.value #{sistema_operativo}

				.box-info.warranty
					h3 Garantía
					.box-content
						.col-xs-12.col-sm-9.text
							//- p Sistema Operativo
							table.table-data.tabla-screen
								tr
									td.title Duración:
									td.value #{duracion}
								tr
									td.title Origen:
									td.value #{origen}
						.col-xs-12.col-sm-3.images
							img(src="images/img-warranty.png", alt="")

				//- .box-info.energy
					h3 Alimentación
					.box-content
						.col-xs-9.col-sm-8.col-lg-10.text
							p Duración de la batería 
								em #{duracion_bateria} 
							p #{descripcion_bateria}
						.col-xs-3.col-sm-4.col-lg-2.images
							img(src="images/img-battery.png", alt="")
