.prueba
	h1.sku SKU #{sku}
	h2.tamano_pantalla Tamaño de pantalla: #{tamano_pantalla}
	h2.tamano_pantalla Resolución: #{resolucion}
	h3.procesador_grafico Procesador Gráfico: #{procesador_grafico}
	//- p.sexo #{item.sexo}
	p.pantalla_tactil Pantalla Táctil :
		if pantalla_tactil == 0
			span  Si
		else 
			span  No
	p.usb_3 USB 3: 
		strong.usb_3 #{usb_3}
	p.usb_2 USB 2: 
		strong.usb_2 #{usb_2}
	p.color Sistema Operativo: #{sistema_operativo}

//- each item in usuarios
	.prueba
		h1.nombre #{item.nombre}
		h2.apellido #{item.apellido}
		//- p.sexo #{item.sexo}
		if item.sexo == 'f'
			p.sexo Femenino
		else 
			p.sexo Masculino
		if item.estado == 1
			strong.estado Activo
		else 
			strong.estado Inactivo
