#box-description
	float left
	width 100%
	height auto
	max-width 1110px
	h2
		color #82247F
		// margin 0	
		line-height 1
		text-transform uppercase
		// font-weight normal

	.box-info
		border 1px solid #cecece
		margin-bottom 21px
		overflow hidden
		h3
			margin 0
			padding 19px 20px
			color #000
			line-height 1
			text-transform uppercase
			font-weight normal
	.box-img
		position relative
		overflow hidden

	.box-content
		padding 0 42px 21px
		overflow hidden
		width 100%

	.table-data
		width 100%
		tr
			&:last-child
				td
					border-bottom none
		td
			height 36px
			line-height 1.1
			font-weight lighter
			border-bottom 1px solid #e6e6e6
			font-size 17px

		.title
			width 50%
			margin 0
			padding-left 24px
			color #404040
		.value
			width 50%
			margin 0
			color #757272

	/* AUX */
	.centerh
		text-align center
		*
			display inline-block
	.flex-center
		display flex
		align-items center
		justify-content center
	
	.centerh-abs
		position absolute
		left 50%
		transform translate(-50%,0)

	.col-img
		position relative
		height 148px
		display inline-block
		margin 0 10px 40px
	.screen
		.box-img
			margin-bottom 24px
			display flex
			justify-content center
			align-items center
		.display
			position absolute
			left 50%
			transform translate(-50%, 0)
			top 39%
			color #5c5c5c
			line-height 1
			font-size 24px
			font-weight 400
		.definicion
			position absolute
			right -20px
			bottom 0px
			background-color #6f6f6f
			color white
			width 58px
			height 58px
			line-height 58px
			border-radius 50%
			text-align center
			font-size 85%
		.col-img
			margin 0 4%
			height auto

	.gamer, .graphic, .ports
		.text
			display flex
			align-items center
			justify-content flex-start
			padding 0
			max-height 110px
			height 100%
			p
				font-size 18px
				margin 0
				color #404040
				line-height 1.2
				span
					display block
					color #757272
		.images
			padding 0
		.img-gamer
			width 50%
			float left
			position relative
			span 
				top 20%
				font-size 19px
				font-weight 600
				line-height 1
			img
				width 99%
	.graphic
		.text
			// max-height 150px
			height 100%
			p
				span
					display block
					color #757272
		.images
			padding 0
		.img-gamer
			width 100%
			float none
			position relative
			text-align center
			span 
				top 30%
				font-weight 500
			img
				max-width 120px
				width 100%
				display inline-block
	.ports
		.text
			max-height max-content
			height auto
			display flex
			align-items center
			justify-content space-around
			.col
				height auto
				padding-top 20px
		.images
			display flex
			justify-content space-around
			align-items flex-end
		.col
			// width 100%
			display flex
			align-items center
			justify-content flex-end
			flex-direction column
			height 200px
		.number
			width 100%
			height 40px
			line-height 1.1
			text-align center
			// background-color #742775
			color #535353
			margin-top 5px
			// border-radius 50%
		.icon
			height 20px
			display flex
			align-items center
			justify-content center
	.table-ports
		width 100%
		tr
			&:last-child
				td
					border-bottom none
		td
			height 36px
			line-height 1
			font-weight lighter
			font-size 17px

		.title
			width 42px
			margin 0
			background-color #f5f5f5
			vertical-align middle
			text-align center
			img
				display inline-block
		.value
			color #404040
			width auto
			margin 0
			span 
				padding-left 20px
				width auto
				display inline-block
			em
				display inline-block
				font-style normal
				float right
				padding-right 10%
	.sound
		.text
			padding 0 0 15px 0
		.images
			padding 0
			position relative
			span
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				line-height 1.1
				text-align center
		p
			color #404040
			font-size 17px
			padding-left 24px

	.sizes
		.box-img
			// padding-top 0
			max-width 95%
			// width 90%
			margin 0 auto
			float none
		.height
			max-width 67.5%
			width 100%
			margin-bottom 45px
			position relative
			float left
			text-align right
			position relative
			img
				max-width 280px
				padding-right 10px
			span
				position absolute
				background #fff
				width auto
				padding 0 5px
				line-height 1
				width 40px
				text-align center
			&::before
				content ''
				height 1px
				background-color #8e508d
				width 100%
				max-width 280px
				position absolute
				bottom -26px
				right 10px
			&::after
				content ''
				height 100%
				background-color #8e508d
				width 1px
				position absolute
				top 0
				left 6%

		.width
			max-width 32.5%
			width 100%
			margin-bottom 45px
			position relative
			float left
			display flex
			justify-content space-around
			span
				position absolute
				background #fff
				width auto
				padding 0 5px
				line-height 1
				text-align center
			&::before
				content ''
				height 1px
				background-color #8e508d
				width 100%
				position absolute
				bottom -15px
				left 0
				display none
			.col
				float left
		.side
			position relative
			img
				max-width 45px
			span
				background-color white
			&::before
				content ''
				height 1px
				background-color #8e508d
				width 110%
				position absolute
				bottom -1.5%
				left 50%
				transform translate(-50%, 0)
		.wide
			width 100%
			margin 0 auto
			position relative
			// padding-top 20px
			span
				// left 50%
				// transform translate(-50%, 0)
				bottom -5px
				background-color transparent
				line-height .85
				position relative
				max-width 45px
				padding 0 0 0 20px
				text-align center
				&::before
					content ''
					height 100%
					background-color #8e508d
					width 2px
					position absolute
					bottom 110%
					left 70%
					transform translate(-50%, 0)
					// display none
		.weight
			max-width 75px
			margin 0 auto
			position relative
			padding-top 20px
			span
				left 50%
				transform translate(-50%, 0)
				bottom 10%
				background-color transparent
				color white
				line-height 1
				text-align center
		.column
			display flex
			flex-direction column
			justify-content space-around
			max-width 98px
		.size0
			left 50%
			bottom -10px
			transform translate(-50%, 0)
			max-width 40px
			padding 0 2px !important
		
		.size1
			left 0
			top 50%
			transform translate(0, -50%)
			width 40px !important
			z-index 1
			line-height 1
			text-align center

		.size2
			left 55%
			bottom -35px
			transform translate(-50%, 0)

	.specials
		.images
			display flex
			align-items center
			justify-content center
		.col-img
			position relative
			height 148px
			display inline-block
			margin 0 10px 40px
			span
				position absolute
		.col
			// width 100%
			display flex
			align-items center
			justify-content flex-end
			flex-direction column
			height auto
			padding 60px 0 40px
			margin 0 11px
		.number
			max-width 47px
			width 100%
			height 30px
			line-height 1.1
			text-align center
			// background-color #742775
			color #535353
			margin-top 5px
			font-size 13px
			// border-radius 50%

	.warranty
		.images
			text-align center
			padding 0
		.box-img
			display flex 
			align-items center
			justify-content center
			.col-img:last-child
				display flex
				align-items flex-end
				padding-bottom 8px
		.col-img
			position relative
			height 182px
			display inline-block
			margin 0 0 15px
		.size
			position absolute
			left 50%
			top 60%
			transform translate(-50%,-50%)
			font-size 20px
			font-weight bold
			z-index 99

	.energy
		.text 
			em
				font-size 24px
				font-style normal
				color #404040
				margin-left 10px
			p
				font-size 16px
				line-height 1.1
			p:last-child
				color #404040
				font-size 16px
				line-height 1.1
		.images
			padding 0
			img
				// margin-top value
	.line
		height 1px
		clear both
		width 100%
		overflow hidden
		background-color #e2e2e2

	.specials, .warranty, .sound
		.value
			text-align right

@media screen and (max-width: 1024px)
	#box-description
		.sizes 
			.height 
				width 100%
				max-width 80%
				margin 0 auto 55px
				float none
				img 
					max-width 294px
					width 85%
					padding-right 0
				&::before
					max-width 80%
					bottom -17.5px
			
			.width  
				width auto
				max-width 50%
				margin 0 auto 45px
				float none

@media screen and (max-width: 992px)
	#box-description
		.box-content
			padding 0 15px 15px
			clear left
		.box-info
			h3
				padding 15px
		.table-data
			.title
				padding-left 12px
				line-height 1.1
		
		.table-ports
			.value
				span
					padding-left 10px

		.graphic
			.text
				padding-right 5px
		.sound
			p
				padding-left 12px
				margin 5px 0

		.energy
			.text 
				padding-left 0
				em
					display block
					margin 0
				p
					font-weight 400

		.sizes 
			.height 
				width 100%
				max-width 90%
				margin 0 auto 55px
				float none
				img 
					max-width 294px
					width 80%
					padding-right 0
				&::before
					max-width 75%

			.width  
				width auto
				max-width 60%
				margin 0 auto 45px
				float none
			.size2
				left 60%
		.ports
			.images
				display block
				text-align center
			.col
				width 33.33%
				display inline-block

@media screen and (max-width: 812px) and (orientation: landscape)
	#box-description
		.sizes
			.width 
				span
					font-size 4vh
			.height
				span
					font-size 4vh
			.size0
				bottom -9%
			.size2
				bottom -30px
			.size1
				padding 2px 5px !important
			.wide
				span
					bottom -5px
					&::before
						bottom 125%
						left 70%

@media screen and (max-width: 767px)
	#box-description
		.table-data
			td
				font-weight 400
				font-size 3.5vh
		.table-ports
			.value
				span
					font-weight 400
				em
					font-weight 400
		.gamer, .graphic, .ports
			.img-gamer
				span 
					top 25%
					font-size 14px
					font-weight 600
		.graphic
			.text
				height 20%
				p
					font-size 3.5vh
					font-weight 400
			.img-gamer
				span
					font-size 5vh
		.ports
			.col
				width 49%
			.number
				height 30px
				font-size 3.5vh
			.text
				.col
					padding 0 10px
					line-height 1
					
		.specials
			.col
				padding 20px 0
		.warranty
			.col-img
				// text-align center
				height auto
			.size
				top 40%
				font-size 4.75vh
			.box-img
				.col-img
					&:last-child
						img
							width 85%
							margin 0 auto
		.sound
			p
				font-weight 400
		
		.sizes 
			.height 
				width 100%
				max-width 90%
				margin 0 auto 55px
				float none
				img 
					max-width 294px
					width 80%
					padding-right 0
				&::before
					max-width 75%

			.width  
				width auto
				max-width 70%
				margin 0 auto 45px
				float none
			.size2
				left 60%


	
@media screen and (max-width: 480px)
	#box-description
		.box-content
			// padding 0 15px 15px
			width 100%
		.table-data
			td
				font-size 4vw
				font-weight 400
			.title
				padding-left 6px
				width 60%
			.value
				width 40%
		.text
			p
				font-size 4.5vw !important
				font-weight 400
		.screen
			.display
				font-size 6vw
			img
				width 95%
		.gamer, .graphic
			.text
				max-height max-content
				padding 0
				p 
					margin 5px 0 10px
		.graphic, .sound
			p
				width 100%
				text-align center
			.text
				p
					margin-bottom 5px
			.images
				img
					display block
					margin 0 auto
		.specials
			display block
			text-align center
			.col-img
				margin 0 8px 25px
			.col
				display inline-block
				width 30%
				padding 15px 0
		.warranty
			.box-img
				.col-img
					&:last-child
						img
							width 85%
							margin 0 auto

			.col-img
				text-align center
				height auto
				margin-bottom 5px
				padding-bottom 0 !important
				
			.size
				top 45%
				font-size 4.5vw
								
		.sizes
			.box-img
				max-width 100%
				overflow hidden

			.width 
				width 100%
				margin-bottom 35px
				span
					font-size 3vw
			.height
				width 80%
				margin-bottom 50px
				span
					font-size 3vw
				&::after
					height 100%
					top 0
			.size0, .size2
				//bottom -22px
			.size1
				padding 2px 5px !important
		.sound
			.text 
				padding 0
			.images
				margin-bottom 10px
		.table-other
			margin-top 10px
		.table-ports
			.value
				span
					font-weight 400
		.energy
			.text
				padding-left 0
				
		.gamer, .graphic, .ports
			.img-gamer
				span 
					top 27.5%
					font-size 7vw
					font-weight 600
		.ports
			.images
				display block
				text-align center
			.col
				width 33.33%
				display inline-block
			.text
				.col
					padding 0 20px
			.number
				font-size 3.5vw